<h1 class="alert alert-primary text-center">Welcome to Nasted Routing</h1>
<div class="container-fluid">
    <img src="https://media.istockphoto.com/photos/3d-code-sign-picture-id678675846?k=20&m=678675846&s=612x612&w=0&h=nbhUbE_FPUhlkR42nBEokhxLLDDtTbuZ89rV5GdZQnw=" style="height: 300px; width: 1510px;">
<div style="margin-left: 150px;" class="container text-center my-3 ">
<button routerLink="register" class="btn btn-primary">Sign UP</button><span>&nbsp;</span>
<button routerLink="login" class="btn btn-primary">Sign IN</button><span>&nbsp;</span>
</div>
</div>